#home {
    color: var(--white);
}

#about {
    color: var(--orange);
}

.header {
    margin-bottom: 1.5rem;
}


.banner {
    border-radius: 10px;
    margin: 0 auto;
    /* max-width: 80%; */
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    align-items: center;
    background-color: var(--transparentPurple);
    width: 100%;
}

.banner h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.about-box {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--transparentPurple); */
    width: 100%;
}

.banner img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

.main {
    grid-template-columns: minmax(auto, 25%) minmax(20px, 75%);
    align-items: flex-start;
    margin-top: 2rem;
}


.right {
    font-family: 'Martel Sans', sans-serif;
    color: var(--white);
    max-width: 100%;
}

#reference {
    font-family: 'Tiro Devanagari Marathi', serif;
    font-style: italic;
}

#reference span {
    color: orange;
    font-size: 30px;
}

#reference-name {
    margin-top: 10px;
    font-size: 13px;
    color: orange;
    font-family: 'Roboto', sans-serif;
}

.quote-box {
    border: 2px solid var(--transparentPurple);
    padding: 15px;
    border-radius: 10px;
}

@media only screen and (max-width: 850px) {
    .main {
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        margin-top: 1.56rem;
    }

    .right {
        order: -1;
    }

    .banner {
        margin-top: 6.56rem;
    }


    .banner h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 750px) {

    .banner h1 {
        font-size: 30px;
    }

}

@media only screen and (max-width: 650px) {

    .banner {
        grid-template-columns: none;
        grid-template-rows: 30% 70%;
    }

    .banner img {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .about-box {
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

}