.main {
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--transparentPurple);
    padding: 20px;
    padding-top: 0px;
    /* padding-top: 10px; */
    border-radius: 10px;
}

#about {
    color: var(--white);
}

#clients {
    color: var(--orange);
}

.client {
    margin-bottom: 15px;
}

.right {
    align-items: flex-start;
}

.right p {
    width: 100%;
}

.right p {
    display: block;
}

.left {
    height: 100%;
}

@media only screen and (max-width: 850px) {

    .right {
        order: 1;
    }

    .right {
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {

    .main {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
        gap: 0;
        /* text-align: center; */
    }

}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }

    .left p {
        font-size: 16px;
    }

    .left h1 {
        font-size: 50px;
    }

    #twenty-box {
        font-size: 30px;
    }

    .main {
        height: 1200px;
    }

    footer {
        margin-top: 30px;
    }
}